@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
      url("./open-sans-v13-latin-regular.woff2") format("woff2"),
      url("./open-sans-v13-latin-regular.woff") format("woff");
}

* {
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,button,textarea,select {
  margin: 0;
}

input,textarea,button {
  border: 1px solid #ddd;
  padding: 3px 5px;
  border-radius: 5px;
}

.form-group,h3 {
  margin: 0;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  line-height: 1.42857143;
}

.checkbox {
  cursor: pointer;
}

.checkbox label {
  margin: 0;
}

.checkbox * {
  vertical-align: middle;
}

label.default {
  font-size: 14px;
  font-weight: 400;
}

label.default input {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: 5px;
}

input[type=text] {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  height: 30px;
  padding: 4px 12px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
  outline: 0;
  min-height: 34px;
  padding: 6px 8px;
  color: #555;
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
}

input[type=text]:focus {
  border-color: #99ca3c;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153,202,60,.6);
}

button {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 4px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3333333;
  padding: 10px 16px;
  background-color: #5ab141;
  border-color: #509e3a;
  color: #fff;
  display: block;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: transparent;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
}

#app {
    height: 100%;
    border: 1px solid #696;
}

#settings {
  background: #fafafa;
  height: calc(100% - 22px);
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

#settings-copyright {
  width: 350px;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

#settings-copyright a {
  color: #478b33;
  text-decoration: none;
  text-size-adjust: 100%;
}

#settings-container {
  background: #fff;
  width: 350px;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 20px
}

#titlebar {
  height: 21px;
  line-height: 21px;
  background: #fff;
  color: #000;
  border-bottom: 1px solid #696;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 138px;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(4, 46px);
  position: absolute;
  top: 0;
  right: 1px;
  height: 100%;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 1px;
  user-select: none;
  cursor: pointer;
  opacity: 0.8;
}

#window-controls #settings-button {
  grid-column: 1;
}

#window-controls #min-button {
  grid-column: 2;
}

#window-controls #max-button,
#window-controls #restore-button {
  grid-column: 3;
}

#window-controls #close-button {
  grid-column: 4;
}

#window-controls .button:hover {
  background: #eee;
  opacity: 1;
}

#window-controls #close-button:hover {
  background: #e81123;
  color: #fff;
}

#window-controls #restore-button {
  display: none;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  padding-left: 3px;
}
